services:
  - type: web
    name: booking4u
    env: node
    plan: free
    buildCommand: npm run build:render
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.x
      - key: NPM_VERSION
        value: 9.x 
